/* Colors:
Light blue - #B6E1E0
Darker light blue - #9cd3d3
Orange - #e8630a
Navy - 2B4353 */

.header {
  background-color: #B6E1E0;
  color: white;
  text-shadow: 2px 2px 2px #2b4353;
  height: 2%;
  display: flex;
  justify-content: flex-end;
}

body form {
  display: flex;
  justify-content: flex-end;
}

#username-title {
  margin: 0 5px;
}

.logo-text {
  font-family: 'Lobster', cursive;
  width: fit-content;
  font-size: 3.5rem;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.user-info {
  display: flex;
  justify-content: flex-end;
  background-color: #9cd3d3;
  box-shadow: 2px 2px 2px grey;
}

.post-head {
  background-color: #e8630a;
  color: white;
  display: flex;
  margin: 1vh 2vw 1vh 2vw;
  padding: 0.5vh 1vw 0.5vh 1vw;
  font-weight: bold;
  box-shadow: 2px 2px 2px black;
  align-items: center;
}

.expand-button {
  background-color: #2B4353
}

.post-body {
  background-color: #2B4353;
  color: white;
  display: flex;
  margin: 1vh 4vw 1vh 4vw;
  padding: 0vh 1vw 0.5vh 1vw;
  font-weight: bold;
}

.fa-plus {
  color: #9cd3d3;
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0vh 1vw 0vh 1vw;
}

.button-column {
  flex-direction: column;
}

.default-button {
  background-color: #2B4353;
  color: #9cd3d3;
}

.form-column {
  flex-direction: column;
}

.profile-modal {
  display: none;
  z-index: 2;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.74)
}

#profile-modal-content {
  background-color: #2B4353;
  border-radius: 2%;
  margin: auto;
  width: 70vw;
  height: 70vh;
  border: 7px solid white;
  box-shadow: 0 0 97px 13px rgb(0, 0, 0);
}

.post-modal {
  display: none;
  z-index: 2;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.74)
}

#post-modal-content {
  background-color: #2B4353;
  border-radius: 2%;
  margin: auto;
  width: 70vw;
  height: 70vh;
  border: 7px solid white;
  box-shadow: 0 0 97px 13px rgb(0, 0, 0);
}

.icon-cog {
  color: rgb(78, 78, 78);
  cursor: pointer;
  margin-right: -25px;
  margin-left: 15px;
  font-size: 1.4em;
}

.new-post-button {
  background-color: #e8630a;
  color: #ffffff;
}

.simple-input {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.large-input {
  width: 70%;
  padding: 12px 20px;
  float: right;
  height: 30vh;
  margin: 8px 0;
  box-sizing: border-box;
}

.post-modal-height {
  height: 68vh;
}

.icon-trash:hover {
  color: rgb(128, 0, 0);
}

.profile-img {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  flex-flow: wrap column;
  align-items: center;
}
.profile-settings-img {
  height: 100%;
  width: 100%;
  border-radius: 3%;
}
.h80 {
  height: 80%;
}
.w100 {
  width: 100%;
}
.profile-settings {
  height: 100%;
}

.user-delete {
  display: flex;
  height: 100%;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
  top: 5rem;
}
.user-delete h1{
  font-size: 2.8rem;
  color: white;
  top: 2.5rem;
}
.icon-trash {
  font-size: 2.7rem;
  cursor: pointer;
}
.username {
  font-weight: 100;
}

.comment-button {
  background-color: #e8630a;
  color: #ffffff;
  width: 20%;
}

.up-post-button {
  background-color: #2B4353;
  border: 2px solid #e8630a;
  color: #ffffff;
  width: 20%;
}

.down-post-button {
  background-color: #B6E1E0;
  border: 2px solid #e8630a;
  color: #000000;
  width: 20%;
}