/* Colors:
Light blue - #B6E1E0
Darker light blue - #9cd3d3
Orange - #e8630a
Navy - 2B4353 */

.header {
  background-color: #B6E1E0;
  color: white;
  text-shadow: 2px 2px 2px #2b4353;
  height: 2%;
  display: flex;
  justify-content: flex-end;
}
body form {
  display: flex;
  justify-content: flex-end;
}
#username-title {
  margin: 0 5px;
}
.logo-text {
  font-family: 'Lobster', cursive;
  width: fit-content;
  font-size: 3.5rem;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.user-info{
  display: flex;
  justify-content: flex-end;
  background-color: #9cd3d3;
  box-shadow: 2px 2px 2px grey;
}

.post-head {
  background-color: #e8630a;
  color: white;
  display: flex;
  margin: 1vh 2vw 1vh 2vw;
  padding: 0.5vh 1vw 0.5vh 1vw;
  font-weight: bold;
  box-shadow: 2px 2px 2px black;
  align-items: center;
}

.expand-button {
  background-color: #2B4353
}

.post-body {
  background-color: #B6E1E0;
  color: white;
  display: flex;
  margin: 1vh 4vw 1vh 4vw;
  padding: 0vh 1vw 0.5vh 1vw;
  font-weight: bold;
}

.fa-plus {
  color: #9cd3d3;
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0vh 1vw 0vh 1vw;
}

.button-column {
  flex-direction: column;
}

.default-button{
  background-color: #2B4353;
  color: #9cd3d3;
}

.form-column {
  flex-direction: column;
}